   <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
         <div id="carousel-1" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
     <div class="carousel-item active">
        <%= image_tag @provider.images[0] , class: "w-100 d-block" %>
        </div>
    <% @provider.images.drop(1).each do |image| %>
       
        <div class="carousel-item ">
        <%= image_tag image , class: "w-100 d-block" %>
        </div>
        <% end %>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a></div>
</div>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>