 <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Similar Venues</h5>
              <% @providers.each do |provider|%>
              <div class="d-flex mb-3">

                <%= link_to( image_tag(provider.resized_images[1], class: "img-md img-thumbnail me-2",style: "min-width: 96px; height: 96px;"), provider_path(provider)) %>
                 
           
                <div class="info">
                  <a href="" class="nav-link mb-1">
                   <%= provider.name %> <br />
                   <%= provider.service %>
               
                  </a>
                  <strong class="text-dark"> <%= provider.location %></strong>
                </div>
              </div>

             <% end %>
            </div>
          </div>
        </div>
      </div>