

<div>
    <%= form.label :content, class: "sr-only" %>
    <%= form.text_area :content, placeholder: "Write a message", required: "true" %>
    <div>
    <%= form.submit "Send" %>
    </div>
    
</div>