<div class="border rounded mt-3 p-2">
  <div class="d-flex justify-content-between">
    <h3 class="fs-5">
  
        <span class="text-muted fw-bolder"><%= message.sender?(current_user) ? t("you") : message.sender.name %></span>
        <span class="text-muted"><%= t("wrote") %></span>
 
    </h3>
     <span class=" text-muted">
        <%= time_ago_in_words(message.created_at).capitalize %> ago
      </span>
    
  </div>

    <div class="fs-4 fw-bold">
      <%= raw message.content %>
    </div>
</div>
