 <div class = " <%= "cont-#{message.sender.user.id}" %>">
 <%= tag.div style: "max-width: 40%" , class: "border rounded mt-3  w-50 p-2 msg-#{message.sender.user.id }" do%> 
  
            <%= time_ago_in_words(message.created_at).capitalize %> ago

    <div class=" fw-bold">
      <%= raw message.content %>
    </div>
<% end %>
</div>