<div class="container">
  <div class="row">
        <div class="col-12 col-md-8 mx-auto rounded text-wrap border mt-3">
            <div class="d-flex flex-column   align-items-center ">
               <h3 class ="fw-bold p-2">Inbox</h3>
                  <hr>
              <% if @conversations.any? %>

                <div class="w-100 max-w-xl mx-auto rounded text-wrap p-2 border mt-8">
                  <%= render @conversations %>
                </div>
              <% else %>
                <div class="mt-8">
                  <h3 class ="text-mutes">No messages yet</h3>
                </div>
              <% end %>
            </div>
        </div>
  </div>
</div>