 <li class="nav-item dropdown no-arrow mx-1">
        <div class="nav-item dropdown no-arrow">
        <a class=" nav-link" aria-expanded="false"  href="/conversations"><span class="badge bg-danger badge-counter">7</span>
        <i class="fas fa-envelope fa-fw"></i></a>
        </div>
</li>