 <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span style="font-style: italic;text-decoration: underline;font-weight: bold;transform: rotate(-9deg);">Ndoa</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-4"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-4" class="collapse navbar-collapse flex-grow-0 order-md-first">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link fw-bolder" href="#">Service Providers</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" href="#">Outfit Providers</a></li>
                </ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="d-none d-md-block"><button class="btn btn-light me-2" type="button">Log In</button><a class="btn btn-secondary" role="button" href="#">Register</a></div>
        </div>
    </nav>