<div>
  <%= link_to "Show this client", @client %> |
  <%= link_to "Back to clients", clients_path %>
</div>

<%content_for :title  do %>
  <h3>Edit Client</h3>
<% end %>

<%= render "form", client: @client %>


