

<h1>Your profile</h1>

<% if policy(@client).show? %>
  <%= render @client %>
  <p>
    <%= link_to "Show ", @client %>
  </p>
<% else %>
  <p>You do not have a client yet.</p>
<% end %>

 <%= link_to "Edit your profile", edit_client_path(@client) %> 