 <section>
        <section class="py-4 py-xl-5">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h2 class="text-uppercase fw-bold mb-3">TAKING AWAY PAIN AND STRESS  FROM WEDDING PLANNING</h2>
                            <p class="mb-4">Find venues, photographers, caterers, decorators, tailors, jewelers and much more all under one roof </p>
                            <a  class="btn btn-secondary fs-5 me-2 py-2 px-4" role="button" href="/providers" >Find a provider</a>
                            <a  class="btn btn-outline-secondary fs-5 me-2 py-2 px-4" role="button" href="/users/sign_up" >Become a provider</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>