
        <section class="py-4 py-xl-5 " style="background:  url('<%= asset_path('hero3.jpg') %>') center / cover; "  >
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h2 class="text-uppercase fw-bolder  mb-3 text-light">MAKING YOUR EVENT PLANNING EASY</h2>
                            
                            <p class=" text-start mb-4 text-white fw-bolder">Find vetted service providers for your
                             <span class = "badge" style = "background: #ff44CB;">  Wedding</span>
                            <span class = "badge " style = "background: #FF6E00;">Party</span>
                            <span class = "badge  " style = "background: #198754;">Baby shower</span>
                            <span class = "badge bg-primary" >Graduation</span>
                            <span class = "badge" style = "background: #6610f2;">Birthday</span>
                            parties  and more...</p>
                            <div>
                               <%= render "home/search_form" %>
                            </div>
                         
                           
                            <a  class="btn hero-btn text-white fw-bolder rounded-pill fs-5 me-2 py-2 px-4" role="button" href="/providers" >See all Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        