<div id="modal-2" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Which service are you providing?</h4><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"><span class="badge bg-primary me-sm-2 me-1 mb-3">Venue</span><span class="badge bg-primary me-sm-2 pe-2 me-1">Photographer</span><span class="badge bg-primary me-sm-2 me-1">Decorator</span><span class="badge bg-primary me-sm-2">Caterer</span><span class="badge bg-primary me-sm-2 me-1">Makeup &amp; Hair</span><span class="badge bg-primary me-sm-2 me-1">MC</span><span class="badge bg-primary me-sm-2 me-1">Rings</span><span class="badge bg-primary me-sm-2 me-1">Suits</span><span class="badge bg-primary me-sm-2">Dresses</span></div>
            </div>
        </div>
</div>