   <section>
        <div class="container h-100 position-relative pt-4 mt-4" style="top: -50px;padding-top: 18px;">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="chasse-sauvage-zlUGL4hBHcw-unsplash.jpg" />
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">CATERERS</p>
                            <h4 class="card-title">FOOD &amp; DRINKS PROVIDERS</h4>
                            <ul>
                                <li>Dessert</li>
                                <li>Cakes</li>
                                <li>Drinks</li>
                                <li>Meals</li>
                            </ul>
                            <div class="d-flex"><a class="btn btn-primary" role="button">See All Caterers</a></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="matthew-essman-jTnipV64uLo-unsplash.jpg" />
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">RECEPTION VENUES</p>
                            <h4 class="card-title">BEAUTIFUL SPACES PROVIDERS</h4>
                            <ul>
                                <li>Outdoors</li>
                                <li>Garden</li>
                                <li>Castle</li>
                                <li>Church</li>
                            </ul>
                            <div class="d-flex"><button class="btn btn-primary" type="button">See All Venues</button></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="jeremy-wong-weddings-464ps_nOflw-unsplash.jpg" />
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">PHOTOGRAPHY</p>
                            <h4 class="card-title">PHOTOGRAPHY &amp; VIDEOGRAPHY PROVIDERS</h4>
                            <ul>
                                <li>Photos</li>
                                <li>Videos</li>
                                <li>Drones</li>
                                <li>Framing</li>
                            </ul>
                            <div class="d-flex"><button class="btn btn-primary" type="button">See All Photographers</button></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="zane-persaud-gOCpvLq2OzY-unsplash.jpg" />
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">DECORATORS</p>
                            <h4 class="card-title">DECORATION  &amp; ACCESSORIES PROVIDERS</h4>
                            <ul>
                                <li>Chairs &amp; Tables</li>
                                <li>Tents</li>
                                <li>Flowers</li>
                                <li>Arcs</li>
                            </ul>
                            <div class="d-flex"><button class="btn btn-primary" type="button">See All Decorators</button></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="freestocks-AFvUO61NlOU-unsplash.jpg" />
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">BEAUTY</p>
                            <h4 class="card-title">HAIR &amp; MAKEUP PROVIDERS</h4>
                            <ul>
                                <li>Bride makeup</li>
                                <li> Bridal team makeup</li>
                                <li>Hair</li>
                                <li>Nails</li>
                            </ul>
                            <div class="d-flex"><button class="btn btn-primary" type="button">See All  Beauticians</button></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="daniel-eliashevskyi-T3Neg57nlYs-unsplash.jpg" />
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">MC</p>
                            <h4 class="card-title">SOUND AND MC PROVIDERS</h4>
                            <ul>
                                <li>M.C</li>
                                <li>D.J</li>
                                <li>P.A system</li>
                                <li>Dancing</li>
                            </ul>
                            <div class="d-flex"><button class="btn btn-primary" type="button">See All MCs</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>