<div class="container ">
  <%= search_form_for @q, url: providers_path, method: :get, class: "mb-3" do |f| %>
    <div class="flex-column  hero-text fs-3 ">
      <%= f.select :service_enum_eq, @services, { prompt: "Choose Service" }, { class: "bg-transparent  form-select form-control form-control-lg form-control-borderless mb-2 w-100" } %>
      <%= f.select :location_eq, @locations, { prompt: "Choose Location" }, { class: " bg-transparent form-select form-control form-control-lg form-control-borderless w-100 " } %>
      <div class="input-group-append mx-2 mt-2">
         <%= f.submit "ðŸ”", class: "btn btn-outline-dark bg-transparent fs-4 rounded-pill " %> <!-- Added emoji to the search text -->
      </div>
    </div>
  <% end %>
</div>

