
<div class = "container mt-3 ">
<%= bootstrap_form_for [@provider, @rating] do |f| %>
<%= render "shared/errors", record: @rating %>
  <p>
   <span class=" text-success fw-bold">  Kindly rate out of 5</span>
    <%= f.select :star, options_for_select([1, 2, 3, 4, 5]) %>
  </p>
    

  <p>
    <%= f.submit 'Submit Rating', class: 'btn btn-primary' %>
  </p>
<% end %>
</div>