.form-control-borderless:focus {
    border: none;
    outline: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.carousel-image {
    // width: 1400px;
    /* Set your desired width */
    // height: 800px;
    /* Set your desired height */
    /* You can adjust the width and height values as needed */
    object-fit: cover;
    /* Maintain aspect ratio and cover container */
}



@media (max-width: 600px) {
    ::placeholder {
        font-size: 12px;
        font-weight: bold;
        /* Reduce the placeholder text size for smaller screens */
    }

}